[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User=paperless
Group=paperless
WorkingDirectory=/app/code/src
ExecStart=python3 manage.py qcluster

[Install]
WantedBy=multi-user.target
